main{
  margin-top: 32px;
}

main h1{
  margin-bottom: 30px;
  font-size: 26px;
  letter-spacing: -.01em;
  line-height: 1.2;
  color: #084d86;
  font-weight: 600;  
}

.container-blog {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);  
  border-radius: 1rem;
  border: 1px solid;
  border-color: transparent;
  color: #444;
  padding: 2em 0 0;
  padding-bottom: 45px;
}

.Blog-linker {
  position: relative;
  display: inline-block;
}

.Blog-linker img {
  transition: all 0.3s ease;
}

.Blog-linker img:hover {
  filter: brightness(50%);
}

.Blog-linker:hover img {
  filter: brightness(50%);
}



@media (max-width: 680px) {
  .Blog-linker img {
    width: 100vw;
  }

}

@media (min-width: 680px) {
  .Blog-linker img {
    width: 30vw;
    height: 20vw;
    margin: 2rem 2rem 1rem 2rem;
  }

  .Blog-linker {
    display: flex;
  }

}

.Blog-linker {
  margin: 5px;
}

.container-post img {
  width: 70vw;
  margin: 3rem;
}


.container-d {
  /* display: Flex; */
}

.container-blog h1 {
  color: #084d86;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 2.7rem;
  /* margin: 2rem 0 3rem 0; */
}

.container-blog p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  text-wrap: balance;
}

.container-post h1 {
  color: #084d86;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 2.7rem;
  margin: 2rem 0 3rem 0;
}

.container-post p {
  font-size: 19px;
  line-height: 35px;

  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: justify !important;

  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.info-blog {
  display: block;
  margin-bottom: 1em;
  color: #555;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.Blog-linker hr {
  margin-top: 0px;
  color: black;
  margin-bottom: 45px;
}

h1.header-blog {
  margin: 0;
  color: #111;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: 600;
}

.comment-container {
  /* background-color: yellow; */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #999;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  ;
}

.comment-container p {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-container h1 {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Comment-img {
  border-radius: 2rem;
  margin: 10px;
}

.blog-cols {
  /* border: #111 solid 2px; */
}

.asidemenu-blogs{
  padding: 40px 5px 16px;
}

.asidemenu-blogs .aside-posts .Blog-linker{
  margin: 0;
}

.asidemenu-blogs h2 {
  color: #084d86;
  font-weight: 600;
  margin: 1rem 0rem 1rem 0.5rem;
}

.title-aside{
  font-weight: 600;
  color: #084d86;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: .65em;
  display: block;
}

.aside-posts a{
  margin-bottom: .8em;
  font-size: 14px;
  color: #555;
}

.asidemenu-blogs a:hover {
  color: #fed500;
  text-decoration: underline;
}

.ant-pagination{
  float: right;
  padding: 10px;
  margin-bottom: 40px;
}

.ant-pagination .ant-pagination-item-active{
  border: 0;
  color: #444;
}

.ant-pagination .ant-pagination-item-active a{
  color: #444;
}

.ant-pagination .ant-pagination-disabled{
  display: none;
}